<ngb-carousel class="m-2 container-fluid">
  <ng-template class="container-fluid" *ngFor="let avis of listeAvis; index as idx" ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../assets/fond_ecran.jpg" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <div class="card m-2 border-none">
        <img [src]="listeAvis[idx].image" class="card-img-top" alt="Première photo"/>
        <div class="card-body">
          <h5 class="card-title">{{ listeAvis[idx].auteur }}, {{ listeAvis[idx].age }} ans</h5>
          <p class="card-text"><i>{{ listeAvis[idx].pratique }}</i> <br> {{ listeAvis[idx].texte }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>