<div class="container fluid mx-auto py-3 my-3 border border-dark">
<div class="main-timeline">
    <div class="timeline left">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>Prise de contact</h4>
        <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
            dignissim per, habeo iusto primis ea eam.</p>
        </div>
    </div>
    </div>
    <div class="timeline right">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>Définition de vos objectifs</h4>
        <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
            dignissim per, habeo iusto primis ea eam.</p>
        </div>
    </div>
    </div>
    <div class="timeline left">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>Mise en place de la planification</h4>
        <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
            dignissim per, habeo iusto primis ea eam.</p>
        </div>
    </div>
    </div>
    <div class="timeline right">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>Suivi régulier</h4>
        <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
            dignissim per, habeo iusto primis ea eam.</p>
        </div>
    </div>
    </div>
</div>
</div>


<!-- Pris sur : https://mdbootstrap.com/docs/standard/extended/timeline/ -->
