<div class="container fluid mx-auto py-3 my-3 border border-dark">
<div class="main-timeline">
    <div class="timeline left">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>{{ this.getTitre(0) }}</h4>
        <p class="mb-0">{{ this.getDescription(0) }}</p>
        </div>
    </div>
    </div>
    <div class="timeline right">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>{{ this.getTitre(1) }}</h4>
        <p class="mb-0">{{ this.getDescription(1) }}</p>
        </div>
    </div>
    </div>
    <div class="timeline left">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>{{ this.getTitre(2) }}</h4>
        <p class="mb-0">{{ this.getDescription(2) }}</p>
        </div>
    </div>
    </div>
    <div class="timeline right">
    <div class="card border-light">
        <div class="card-body p-4">
        <h4>{{ this.getTitre(3) }}</h4>
        <p class="mb-0">{{ this.getDescription(3) }}</p>
        </div>
    </div>
    </div>
</div>
</div>


<!-- Pris sur : https://mdbootstrap.com/docs/standard/extended/timeline/ -->
