<div class="container-fluid my-3 border-top border-grey">
    <div class="d-flex mb-1 flex-row justify-content-center align-items-center">
        <div class="p-2 mx-1"><a class="logo" href="https://www.facebook.com/AlpesCyclismeEntrainement"><img style="width: 50px" src="../assets/Facebook_logo.png" alt="logoFacebook"></a></div>
        <div class="p-2 mx-1"><a class="logo" href="https://www.instagram.com/alpes_cyclisme_entrainement?igsh=YXFrOTN4aWFnMW95"><img style="width: 50px" src="../assets/Instagram_logo.png" alt="logoInstagram"></a></div>
        <div class="p-2 mx-1"><a class="logo" href=""><img style="width: 50px" src="../assets/LinkedIn_logo.png" alt="logoLinkedIn"></a></div>
        <div class="p-2 mx-1"><a routerLink="/accueil" routerLinkActive="active" aria-current="page">Accueil</a></div>
        <div class="p-2 mx-1"><a routerLink="/offres" routerLinkActive="active" aria-current="page">Offres</a></div>
        <div class="p-2 mx-1"><a routerLink="/qui-suis-je" routerLinkActive="active" aria-current="page">Qui-suis-je ?</a></div>
        <div class="p-2 mx-1"><a routerLink="/contact" routerLinkActive="active" aria-current="page">Contact</a></div>
    </div>
    <div class="d-flex mb-1 flex-row justify-content-center align-items-center">
        <div class="p-2 mx-1"><a href="">Mentions légales ?</a></div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="p-2 mx-1">Réalisé par ...</div>
    </div>
</div>