<div class="d-flex flex-column my-2 py-2 border border-dark">
    <h2 class="mx-auto my-2">{{ offrePresentee.titre }}</h2>
    <h3 class="mx-2">Pour qui ?</h3>
    <p class="text-center mx-3 my-1"> {{ offrePresentee.public }}</p>
    <h3 class="mx-2">Contenu</h3>
    <p class="text-center mx-3 my-1"> {{ offrePresentee.details }}</p>
    <h3 class="mx-2">Tarifs</h3>
    <div class="mx-3 my-1">
        <ul>
            <li>{{ offrePresentee.tarifs[0] }}€ / mois</li>
            <li>{{ offrePresentee.tarifs[1] }}€ / 3 mois</li>
            <li>{{ offrePresentee.tarifs[2] }}€ / 6 mois</li>
            <li>{{ offrePresentee.tarifs[3] }}€ / 12 mois</li>
        </ul>
    </div>
    <button class="btn btn-dark mt-2 mb-3 mx-auto">Je choisis cette offre</button>
</div>