<section class="presentation">
    <div class="container-fluid my-2">
        <h1>Mes diplômes</h1>
        <ul class="pl-2">
            <li><img class="img-fluid w-25 d-inline mx-2" alt="logo_ecole" src="../assets/fftri_logo.jpeg">2020 : Brevet Fédéral (BF5) - Triathlon - Ligue AURA Triathlon</li>
            <li><img class="img-fluid w-25 d-inline mx-2" alt="logo_ecole" src="../assets/UGA_logo.jpg">2021 : Licence 3 Entraînement Sportif - Cyclisme - Université Grenoble Alpes</li>
        </ul>
    </div>
</section>